body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

.container {
    display: inline-block;
    background: white;
    padding: 20px;
    border: 1px solid #999;
    border-radius: 10px;
}

h2 {
    margin-bottom: 10px;
    color: #333;
}

.calculator {
    width: 260px;
}

input#screen {
    width: 90%;
    height: 40px;
    font-size: 20px;
    text-align: right;
    margin-bottom: 15px;
    padding: 5px;
    border: 1px solid #333;
    background: #fff;
    color: black;
}

.row {
    margin-bottom: 5px;
}

button {
    width: 55px;
    height: 45px;
    font-size: 18px;
    margin: 2px;
    cursor: pointer;
    background-color: #e0e0e0;
    border: 1px solid #999;
    border-radius: 5px;
}

button:hover {
    background-color: #dcdcdc;
}

/* बटन कलर्स */
.btn-red {
    background-color: #ff6666;
    color: white;
}

.btn-green {
    background-color: #66cc66;
    color: white;
}

.btn-yellow {
    background-color: #ffcc00;
}
